@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(0.967 0.001 286.375); /* Zinc 100 */
  --foreground: oklch(0.141 0.005 285.823); /* Zinc 950 */
  --card: oklch(1 0 0); /* White */
  --card-foreground: oklch(0.141 0.005 285.823); /* Zinc 950 */
  --popover: oklch(1 0 0); /* White */
  --popover-foreground: oklch(0.141 0.005 285.823); /* Zinc 950 */
  --primary: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --secondary: oklch(0.967 0.001 286.375); /* Zinc 100 */
  --secondary-foreground: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --muted: oklch(0.967 0.001 286.375); /* Zinc 100 */
  --muted-foreground: oklch(0.552 0.016 285.938); /* Zinc 500 */
  --accent: oklch(0.967 0.001 286.375); /* Zinc 100 */
  --accent-foreground: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --destructive: oklch(0.577 0.245 27.325); /* Red 600 */
  --border: oklch(0.92 0.004 286.32); /* Zinc 200 */
  --input: oklch(0.92 0.004 286.32); /* Zinc 200 */
  --ring: oklch(0.705 0.015 286.067); /* Zinc 400 */
  --chart-1: oklch(0.646 0.222 41.116); /* Orange 600 */
  --chart-2: oklch(0.6 0.118 184.704); /* Teal 600 */
  --chart-3: oklch(0.398 0.07 227.392); /* Cyan 900 */
  --chart-4: oklch(0.828 0.189 84.429); /* Amber 400 */
  --chart-5: oklch(0.769 0.188 70.08); /* Amber 500 */
  --sidebar: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-foreground: oklch(0.141 0.005 285.823); /* Zinc 950 */
  --sidebar-primary: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.967 0.001 286.375); /* Zinc 100 */
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --sidebar-border: oklch(0.92 0.004 286.32); /* Zinc 200 */
  --sidebar-ring: oklch(0.705 0.015 286.067); /* Zinc 400 */
}

.dark {
  --background: oklch(0.141 0.005 285.823); /* Zinc 950 */
  --foreground: oklch(0.985 0 0); /* Zinc 50 */
  --card: oklch(0.274 0.006 286.033); /* Zinc 800 */
  --card-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --popover: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --popover-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --primary: oklch(0.92 0.004 286.32); /* Zinc 200 */
  --primary-foreground: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --secondary: oklch(0.274 0.006 286.033); /* Zinc 800 */
  --secondary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --muted: oklch(0.274 0.006 286.033); /* Zinc 800 */
  --muted-foreground: oklch(0.705 0.015 286.067); /* Zinc 400 */
  --accent: oklch(0.274 0.006 286.033); /* Zinc 800 */
  --accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --destructive: oklch(0.704 0.191 22.216); /* Red 400 */
  --border: oklch(1 0 0 / 10%); /* White / 10% */
  --input: oklch(1 0 0 / 15%); /* White / 15% */
  --ring: oklch(0.552 0.016 285.938); /* Zinc 500 */
  --chart-1: oklch(0.488 0.243 264.376); /* Blue 700 */
  --chart-2: oklch(0.696 0.17 162.48); /* Emerald 500 */
  --chart-3: oklch(0.769 0.188 70.08); /* Amber 500 */
  --chart-4: oklch(0.627 0.265 303.9); /* Purple 500 */
  --chart-5: oklch(0.645 0.246 16.439); /* Rose 500 */
  --sidebar: oklch(0.21 0.006 285.885); /* Zinc 900 */
  --sidebar-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-primary: oklch(0.488 0.243 264.376); /* Blue 700 */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-accent: oklch(0.274 0.006 286.033); /* Zinc 800 */
  --sidebar-accent-foreground: oklch(0.985 0 0); /* Zinc 50 */
  --sidebar-border: oklch(1 0 0 / 10%); /* White / 10% */
  --sidebar-ring: oklch(0.552 0.016 285.938); /* Zinc 500 */
}

@theme inline {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --color-chart-6: var(--chart-6);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --radius-xl: calc(var(--radius) + 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}